
body{
    background: hsl(218, 100%, 62%) !important;
    margin: 0; 
    font-family: sans-serif;
    
}

img{
    /* max-height: 500px;
    width: auto; */
    box-sizing: border-box;
    object-fit: cover;
    /* background-size: cover !important; */
    border-radius: 7px;
}
.two-on-line{
    height: 350px;
    width: auto;
    object-fit: cover;
}
.three-on-line{
    height: 250px;
    width: auto;
    object-fit: cover;
}
.social-media{
    font-size: 1.5rem;
}
.social-media-link{
    font-size: 3rem;
    text-decoration: none;
    color: white;
}
.social-media-link:hover{
    color: #4882ff;
    text-decoration: none;
}

.card-title-custom{
    font-weight: 700;
    text-shadow: 2px 2px 5px #000000d6;
    position: absolute;
    bottom: 2rem !important;
}
.banner-title{
    font-size: 3rem !important;
}
.card-text-custom{
    text-shadow: 2px 2px 5px #000000;
    position: absolute;
    bottom: 0 !important;
}

.card-text{
    font-weight: 700;
    color: #00319b;
}
.banner-card{
    height: 100%;
    box-sizing: border-box;
}
/* .banner{
    height: 60vh;
} */
.advert{
    background: #3e3e3e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: white;
    font-size: 2rem;
    border-radius: 4px;
    padding: 0.5rem;
}
footer{
    padding: 1.5rem;
    background: #3e3e3e;
    color: white;
    height: 10rem;
}
.footer-links{
    padding: .5rem;
}
.footer-links a{
    display: inline;
    color: white;
}
.footer-links a:hover{
    color: #4882ff;
    text-decoration: none;
}
.copyright{
    padding: 1rem;
    
}

#header{
    position: relative;
    height: 50px;
    background-color: #ffffff;
    /* font-family: 'Roboto'; */
    color: #830000 !important;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-left: 5rem; */
    /* padding-right: 5rem; */
    /* z-index: 1000; */
}
a{
    text-decoration: none;
    /* color: #218500 !important; */
}
.text-darkBlue{
    color: #00319b;
}


@media (max-width: 550px){
    #header{
        /* flex-direction: column; */
        /* background-color: #1f1e1e; */
    } 
    #header .menu-nav a{
        display: none;
    }
    #header .menu-btn{
        width: 50px;
        height: 50px;
        position: relative;
      }
      #header .menu-nav{
        position: absolute;
        width: 100%;
        max-height: 0;
        transition: max-height, 1s;
      }
      #header .menu-btn.active{
          display: block;
      }
      
      #header .menu-btn span,
      #header .menu-btn span::before,
      #header .menu-btn span::after{
          content: '';
          display: block;
          position: absolute;
          top: 50%; margin-top: -1px;
          left: 50%; margin-left: -10px;
          width: 20px;
          height: 2px;
          background-color: rgb(106, 106, 106);
          transition: .5s;
      }
      
      #header .menu-btn span::before {
          transform: translateY(-5px);
        }
      #header .menu-btn span::after {
          transform: translateY(5px);
        }
      
    #header .menu-nav.dropdown{
        max-height: 300px;
        top: 50px;
        z-index: 100;
        background-color: #ededed;
    }
    #header .menu-nav.dropdown a{
        display: block;
    }
    #header .menu-btn.active span{
        transform: rotate(-90deg);
    }
    #header .menu-btn.active span::before{
        width: 10px;
        transform-origin: left;
        transform: rotate(-35deg);
    }
    #header .menu-btn.active span::after{
        width: 10px;
        transform-origin: left;
        transform: rotate(35deg);
    }
}

/* helpers */
.px{
    padding: 0 1rem 0 1rem ;
}
.logo{
    height: 2rem;
    width: auto;
    border-radius: 0;
}

